@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  @layer components {

    .btn-primary{
      @apply p-2 uppercase border bg-primary border-primary text-white transition-colors hover:bg-white hover:text-primary hover:border-white duration-500
    }

    .btn-secondary{
      @apply p-2 uppercase bg-transparent border border-white text-white transition-colors hover:bg-white hover:text-primary duration-500
    }

    .menu-item{
      @apply font-montserrat uppercase text-white text-sm hover:text-primary transition-colors duration-500 font-medium
    }

    // .max-container {
    //   max-width: 1440px;
    //   margin: 0 auto;
    // }

    // .med-container{
    //   max-width:1200px;
    //   margin: 0 auto;
    // }

    // .header-link{
    // @apply text-dull-gray text-[12px] tracking-[2px] opacity-60 hover:opacity-100 cursor-pointer
    // }

    // .button-dark{
    //   @apply px-5 py-3 bg-primary text-white uppercase cursor-pointer ;
    // }




  

  }
  
  @layer utilities {
    /* .padding {
      @apply sm:px-16 px-8 sm:py-24 py-12;
    }
  
    .padding-x {
      @apply sm:px-16 px-8;
    }
  
    .padding-y {
      @apply sm:py-24 py-12;
    }
  
    .padding-l {
      @apply sm:pl-16 pl-8;
    }
  
    .padding-r {
      @apply sm:pr-16 pr-8;
    }
  
    .padding-t {
      @apply sm:pt-24 pt-12;
    }
  
    .padding-b {
      @apply sm:pb-24 pb-12;
    } */
  
  }