<section class="py-4 md:max-w-[1000px] md:m-auto">
  <div class="grid grid-cols-1 gap-y-10 md:grid-cols-2 md:gap-x-4">
    <div class="flex flex-col items-center md:items-start gap-2">
      <span class="uppercase text-primary">stay up to date</span>
      <span class="font-yevesa text-4xl text-white">Get our newsletter.</span>
      <input type="text" class="mt-6 outline-none border-none" />
    </div>
    <div class="order-[-1] col-span-full flex justify-center">
      <img src="assets/icons/icon-lion.png" alt="" width="60px" height="60px" />
    </div>
    <div class="flex flex-col items-center md:items-end">
      <span class="uppercase text-primary mb-2">get in touch</span>
      <div class="flex flex-col md:items-end text-white font-yevesa text-lg mb-8 ">
        <span class="hover:text-primary">hello@zoo.com</span>
        <span class="hover:text-primary">+32 02 123 333</span>
      </div>
      <div class=" items-center flex flex-col md:items-end text-white font-yevesa text-lg">
        <span class="hover:text-primary">2312 Washington</span>
        <span class="hover:text-primary">Kentucky 39495</span>
      </div>
    </div>
  </div>
</section>
