<div
  class="px-3 bg-backgroundMain h-[100vh] overflow-hidden min-h-full z-[101]"
>
  <section>
    <div class="m-2 w-14 aspect-square">
      <img src="assets/icons/icon-lion.png" alt="the logo" />
    </div>
  </section>
  <section class="mt-9">
    <ul class="flex flex-col gap-4">
      <li *ngFor="let page of pages">
        <a [routerLink]="[page.link]" class="uppercase menu-item">{{
          page.label
        }}</a>
      </li>
    </ul>
  </section>
  <section class="pt-8">
    <app-button buttonType="primary" class="my-4 block"> Events </app-button>
    <app-button buttonType="secondary" class="my-4 block">
      plan a visit
    </app-button>
  </section>
</div>
