<div
  (mousemove)="onMouseOver($event)"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  #container
  class="w-full m-auto bg-backgroundMain scroll-container overflow-scroll h-[250px] lg:h-[500px]"
>
  <div
    #imagescontainer
    class="transition-transform duration-1 ease-linear flex gap-[15px] overflow-visible"
  >
    <div
      class="h-[250px] lg:h-[500px] bg-white flex-grow-0 flex-shrink-0 aspect-square"
      *ngFor="let i of images; let ind = index"
    >
      <app-slideshow-image
        [src]="i.src"
        [alt]="i.alt"
      ></app-slideshow-image>
    </div>
  </div>
</div>
