<app-hero
  backgroundSrc="assets/images/leopard4K.jpg"
  altBg="leopard image"
  title="Our tickets"
  subtitle="We are the most visited zoo in the UK and a charitable organization on protection and education that seek to prevent extinction."
/>
<section class="body-container">
  <app-body-title
    title="Buy tickets and visit the animals"
    description="Welcome to our Zoo! We're thrilled to offer a fun & educational experience for visitors of all ages. Come visit us & explore the incredible diversity of the animal kingdom!"
  ></app-body-title>
  <div class="w-full p-4 lg:max-w-[60vw] m-auto">
    <div class="flex my-4 gap-5 justify-center items-center">
      <span class="uppercase font-semibold text-white text-lg tracking-wider">WeekDays</span>
      <app-toggle class="shrink-0 basis-[70px]"></app-toggle>
      <span class="uppercase font-semibold text-white text-lg tracking-wider">weekend</span>
    </div>
  </div>
</section>

