<app-hero
  backgroundSrc="assets/images/hero-tickets.jpg"
  altBg="leopard image"
  title="Our tickets"
  subtitle="We are the most visited zoo in the UK and a charitable organization on protection and education that seek to prevent extinction."
/>
<section class="body-container">
  <app-body-title
    title="Buy tickets and visit the animals"
    description="Welcome to our Zoo! We're thrilled to offer a fun & educational experience for visitors of all ages. Come visit us & explore the incredible diversity of the animal kingdom!"
  ></app-body-title>
  <div class="w-full p-4 lg:max-w-[60vw] m-auto">
    <div class="flex my-4 gap-5 justify-center items-center">
      <span class="uppercase font-semibold text-white text-lg tracking-wider"
        >WeekDays</span
      >
      <app-toggle
        class="shrink-0 basis-[70px]"
        (activeChange)="onChangeActive($event)"
      ></app-toggle>
      <span class="uppercase font-semibold text-white text-lg tracking-wider"
        >weekend</span
      >
    </div>
    <div class="w-full grid grid-cols-1 lg:grid-cols-3 gap-5 pt-2">
      <app-ticket-card
        *ngFor="let ticket of tickets"
        [ticket]="ticket"
        [isWeekend]="isWeekend"
        [weekendPerc]="0.1"
      ></app-ticket-card>
    </div>
  </div>
</section>
