<section class="w-full min-h-[100vh] bg-no-repeat">
  <section class="bg-hero pt-28">
    <div
      class="max-w-[600px] w-[50%] mt-[140px] ml-16 transition-all animate-in"
    >
      <div class="font-yevesa text-[70px] text-white">
        Discover and get to know.
      </div>
      <div
        class="font-roboto text-[20px] text-primary uppercase tracking-wider"
      >
        Welcome to our zoo, a place of nature
      </div>
    </div>
    <div
      class="mt-5 flex flex-col md:flex-row gap-[20px] justify-between p-10 items-center"
    >
      <div
        class="h-full flex gap-3 items-center justify-center text-white pl-14"
      >
        <app-play-button></app-play-button>
        <span class="uppercase text-lg font-semibold whitespace-nowrap"
          >our animals</span
        >
      </div>
      <app-scroll-pictures></app-scroll-pictures>
    </div>
  </section>
  <section class="bg-backgroundMain w-full">
    <div class="max-w-[1200px] m-auto p-4">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2 md:gap-[20px] lg:gap-[40px]"
      >
        <app-text-card></app-text-card>
        <app-text-card></app-text-card>
        <app-text-card></app-text-card>
        <app-text-card></app-text-card>
      </div>
      <div class="pt-40 flex-col lg:flex-row flex gap-[40px]">
        <div class="basis-[100%] lg:basis-[40%] flex-shrink-0 max-w-[500px]">
          <app-moving-images></app-moving-images>
        </div>
        <section
          class="flex flex-col gap-10"
          observeVisibility
          (visible)="slide.runSlideInAnimations()"
          appSlideIn
          #slide="slideIn"
          hideClass="dontshow"
        >
          <h2
            class="text-3xl md:text-4xl lg:text-5xl text-white font-yevesa lg:pl-[150px]"
          >
            We connect people to animals and inspire them to care about
            conservation.
          </h2>
          <div class="lg:pl-[50px]">
            <p
              class="text-lg tracking-wide text-primary font-semibold leading-6 max-w-prose mb-4"
            >
              We provide the finest care to the animals in our parks and
              redouble our efforts to protect wildlife around the world.
            </p>
            <p
              class="text-[18px] tracking-wide text-white font-normal leading-6 max-w-prose"
            >
              At our zoo, we are committed to conservation and protecting the
              environment. We work with various organizations to support
              conservation efforts and educate our visitors on how they can help
              protect endangered species and their habitats. Our zoo also
              participates in breeding programs for endangered animals to help
              increase their populations.
            </p>
          </div>
        </section>
      </div>
    </div>
    <section class="p-2 bg-slider bg-cover w-full min-h-[500px] flex justify-end items-end pb-28 pr-12">
      <app-slides></app-slides>
    </section>
  </section>
</section>
