<div class="relative">
    <li class="menu-item peer py-5">
        <a [href]="link">{{label}}</a>
    </li>
    <div *ngIf="menuLinks.length>0" class="absolute top-[90%] bg-white w-[150px] invisible peer-hover:visible hover:visible">
        <ul class="flex flex-col py-2 px-3 gap-1 uppercase text-sm tracking-wider font-bold">
            <li>
                <a href="">Item 1</a>
            </li>
            <li>
                <a href="">Item 2</a>
            </li>
            <li>
                <a href="">Item 3</a>
            </li>
        </ul>
    </div>
</div>
