<app-hero
  backgroundSrc="assets/images/leopard4K.jpg"
  altBg="leopard image"
  title="Frequently asked questions"
  subtitle="     We are the most visited Zoo in the UK and a charitable organization on
protection and education that seek to prevent extinction."
></app-hero>
<section class="body-container">
  <app-body-title
    title="We can answer all your burning questions now"
    description=" We believe that each of us must protect the world's wonderful wildlife,
   not only in our lifetime, but for generations to come."
  />
  <div
    appSlideIn2
    class="w-full lg:max-w-[60vw] m-auto grid grid-cols-1 lg:gap-[60px] lg:grid-cols-2"
  >
    <div class="w-full">
      <app-text-drawer
        *ngFor="let q of questions1"
        [answer]="q.answer"
        [question]="q.question"
      ></app-text-drawer>
    </div>
    <div class="w-full">
      <app-text-drawer
        *ngFor="let q of questions2"
        [answer]="q.answer"
        [question]="q.question"
      ></app-text-drawer>
    </div>
  </div>
  <div appSlideIn2 class="w-full mt-[80px]">
    <app-images-slideshow></app-images-slideshow>
  </div>
</section>
