<section
  class="w-full h-[60vh] relative pt-24 flex justify-center items-center"
>
  <img
    class="object-cover object-center -z-10 brightness-50"
    ngSrc="assets/images/leopard4K.jpg"
    alt="leopard image"
    fill
    priority
  />
  <div class="text-center p-2 lg:max-w-[50vw] text-white">
    <h1 class="text-[52px] lg:text-[90px] font-yevesa">Frequently asked questions</h1>
    <p class="text-sm tracking-wider p-4">
      We are the most visited Zoo in the UK and a charitable organization on
      protection and education that seek to prevent extinction.
    </p>
  </div>
</section>
<section class="w-full bg-backgroundMain">
  <div class="text-white lg:max-w-[40vw] m-auto text-center p-12 lg:p-8">
    <h2 class="text-[28px] lg:text-[53px] font-yevesa">
      We can answer all your burning questions now
    </h2>
    <p class="text-sm p-4">
      We believe that each of us must protect the world's wonderful wildlife,
      not only in our lifetime, but for generations to come.
    </p>
  </div>
</section>
