<div
  observeVisibility
  (visible)="onVisible()"
  #card
  class="group flex flex-col items-left justify-between gap-6 py-20 px-5 rounded-md border-transparent hover:border-white border relative overflow-hidden"
>
  <h4 class="z-[2] font-yevesa text-xl text-white">Tickets and hours</h4>
  <p class="z-[2] font-roboto text-[14px]  text-white font-normal">
    Our zoo is a place where people of all ages can come and learn about
    animals.
  </p>
  <a href="" class="z-[2] uppercase text-white font-semibold">learn more</a>
  <span
    class="z-[1] absolute top-[-50%] left-0 w-full h-[50%]  bg-primary transition-all group-hover:top-0 duration-700"
  ></span>
  <span
    class="z-[1] absolute bottom-[-50%] left-0 w-full h-[50%]  bg-primary transition-all group-hover:bottom-[0] duration-700"
  ></span>
  <img
    src="assets/icons/text-card-icon.png"
    alt=""
    class="absolute bottom-0 left-0 z-[1] transform translate-x-[50%] translate-y-[50%] group-hover:translate-x-0 group-hover:translate-y-[-20%] group-hover:scale-[2] transition-all opacity-0 group-hover:opacity-100 duration-700"
  />
</div>
